@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&family=Quicksand:wght@300..700&display=swap');
@import "tailwindcss";

*,body,p,a{
     font-family: "Quicksand", sans-serif;
}
h1,h2,h3,h4,h5,h6,button,h2 span{
     font-family: "Pixelify Sans", sans-serif;
}